<!DOCTYPE html>
<html ng-app="courses">
<head>
	<meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="course.js"></script>
    <link rel="stylesheet" href="global.css" type="text/css">
	<title>Courses</title>
</head> 
<body ng-controller="coursesCtrl">
	<h1>Liste des courses</h1>
    <ul>
      <li ng-repeat="course in courses" >
         <span>{{course.nomP}} - {{course.rayon}}</span>
      </li>
    </ul>
	</br>
	<span ng-click="retour()">Retour</span>
</body>
</html>
