<html ng-app="creercourse">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="creercourse.js"></script>
    <link rel="stylesheet" href="global.css" type="text/css">
  </head>
  
  <body ng-controller="creercourseCtrl">
  	<h1>Créer une course</h1>
  
 	<form>
 		<label class="titre">Veuillez choisir une enseigne : </label>
 		<select ng-model="idE" required>
  			<option ng-repeat="enseigne in listenseignes" ng-value="enseigne.idE">{{ enseigne.nomE }} - {{ enseigne.ville }}</option>
		</select>
		<br><br>
		<label class="titre">Veuillez saisir la date de la course : </label>
		<input type="date" ng-model="date" required/>
		<br><br>
	</form>

 	<form ng-show="idE>0 && date>0" ng-submit="creCourse()">
 		<label class="titre">Veuillez choisir les produits : </label>
 		<select ng-model="idP" required>
  			<option ng-repeat="produit in listproduits" ng-value="produit.idP">{{ produit.nomP }}</option>
		</select>
 		<label class="titre"> Quantité : </label>
		<input type="text" value="1" size="3" pattern="[1-9][0-9]{0,2}" ng-model="qte"/>
		<input type="button" value="Ajouter" ng-click="ajouter()" ng-show="idP>0 && qte>0">
		
		<ul>
        	<li ng-repeat="achat in achats" >
         		<span>{{achat.qte}}  {{achat.nomP}} (s)</span>
 				<input type="button" value="Supprimer" ng-click="supprimer(achat.idP)">
 				<span ng-hide = true>{{ achat.idP }}</span>
      		</li>
    	</ul><br>
		
		<input "type="submit" value="Créer la course">
	</form>
 	
  </body>
</html>